<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fagougou.government">

    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:name=".CommonApplication"
        android:allowBackup="false"
        android:icon="@drawable/fagougou"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/fagougou"
        android:supportsRtl="true"
        android:theme="@style/Theme.Government"
        android:usesCleartextTraffic="true"
        tools:replace="android:label,android:theme,android:allowBackup">
        <activity
            android:name=".WebviewActivity"
            android:exported="false" />

        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="ae73180eda276349a3eb4602b1eba951" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="62a2f39388ccdf4b7e90908c" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Fagougou" />

        <activity
            android:name=".consult.TouristsLoginActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Government"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".consult.WaitActivity"
            android:exported="false" />
        <activity
            android:name=".consult.ChooseDomainActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".contractReviewPage.PaperUploadActivity"
            android:exported="false" />
        <activity
            android:name=".contractReviewPage.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Government"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!-- 设置为launcher -->
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
    </application>

</manifest>